# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc and logs
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
autoSync.err
autoSync.out
scripts/logs

# HDFVR flash video recorder
/public/VideoRecorder.swf

# Sensitive settings- never commit to github!
/.env
.env*
/**/config.json
*.pem

# Virtualenv
scripts/env
scripts/fwenv
scripts/venv

migration/output/*


*.pyc
scripts/*.json
updateECCL.sh
geometryemaildata.py
