<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.kms.launchtest</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/kms/lookit/scripts/sendJustFeedbackEmails.sh</string>
  </array>

  	<key>WorkingDirectory</key>
	<string>/Users/kms/lookit/scripts/</string>


  <key>StartCalendarInterval</key>
	<dict>
	<key>Weekday</key>
	<integer>2</integer>
	<key>Hour</key>
	<integer>3</integer>
	<key>Minute</key>
	<integer>0</integer>
	</dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/Users/kms/lookit/scripts/autoSync.err</string>

  <key>StandardOutPath</key>
  <string>/Users/kms/lookit/scripts/autoSync.out</string>
</dict>
</plist>
